.item{
    max-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    align-content: flex-start;
}
.item h5{
    margin: 0;
    padding: 0;
}
.item ul{
    list-style: none;
    padding-left: 30px;
    margin: 0;
}